.header {
  text-align: center;
  width: 100%;
}

.logo {
  width: 250px;
}

.header nav {
  background-color: #111111;
}

.header nav a {
  text-decoration: none;
  line-height: 40px;
  font-size: 20px;
  color: #ffffff;
  margin-right: 30px;
  padding: 6px;
}

.header nav a:hover {
  background-color: #ffffff;
  color: #111;
}
